body {
    font-family: Arial;
    background: #f0f4f8;
    text-align: center;
}

.login-box, .quiz-container {
    background: white;
    width: 350px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.option {
    display: block;
    width: 90%;
    margin: 8px auto;
    padding: 10px;
    border: none;
    background: #ddd;
    border-radius: 5px;
}

.option.correct { background: #8bc34a; }
.option.wrong { background: #f44336; }

#quizBox { display: none; }
#restartBtn { display: none; }
#timer { font-weight: bold; color: red; }
